body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFE8C8;
}

.navbar {
    background-color: #FFC96F;
    overflow: hidden;
    margin: auto;
    display: flex;
    justify-content: center;
}

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ACD793;
    color: black;
}

.container {
    padding: 20px;
}

h1 {
    text-align: center;
    color: #FFA62F;
}

p {
    text-align: center;
    color: #FFA62F;
}